.dash-body {
  height: 100%;
  width: 100%;
  position: relative;
}
.main-nav {
  height: 90px;
  width: 100%;
  border-bottom: 2px solid #dadada;
  background-color: #EEFC5E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
}

.sec-nav {
    display: flex;
    gap: 4vw;
}
.main-nav h2 {
    font-size: 2vw;
    font-weight: 700;
}
.main-nav h4 {
    font-size: 1vw;
}

@media (max-width:600px) {
    .main-nav{

    }
    
}